:root {
  --color-primary:#eb6ea5;
  --color-display:#1F1F1F;
  --color-display-on-primary:#1F1F1F;
  --color-background:#efefef;
  --color-surface:#dddddd;
  --color-border:var(--color-display);
  
  color:var(--color-display);
  background-color:var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-display:#efefef;
    --color-background:#1F1F1F;
    --color-surface:#222222;
  }
}